@{
    ViewData["Title"] = "Home Page";
}
<section class="p-2 bg-light" style="min-height:90vh">
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </main>
</div>
</section>
