@{
    ViewData["Title"] = "Home Page";
}
<section class="p-2 bg-light" style="min-height:90vh">
    <div class="container">
        <main role="main" class="pb-3">
            <section class="section-intro padding-top-sm">
                <div class="container">
                    <main class="card p-3">
                        <div class="row">
                            <aside class="col-lg-3">
                                <nav class="nav flex-column nav-pills">
                                    <a class="nav-link active" aria-current="page" href="#">Electronics</a>
                                    <a class="nav-link" href="#">Clothes and wear</a>
                                    <a class="nav-link" href="#">Home interiors</a>
                                    <a class="nav-link" href="#">Computer and tech</a>
                                    <a class="nav-link" href="#">Tools, equipments</a>
                                    <a class="nav-link" href="#">Sports and outdoor</a>
                                    <a class="nav-link" href="#">Animal and pets</a>
                                    <a class="nav-link" href="#">Machinery tools</a>
                                    <a class="nav-link" href="#">Other products</a>
                                </nav>
                            </aside>
                            <div class="col-lg-9">
                                <article class="card-banner p-5 bg-primary" style="height: 360px">
                                    <div style="max-width: 500px">
                                        <h2 class="text-white">Learning that gets you</h2>
                                        <p class="text-white">Skills for your present (and your future). Get started with us.</p>
                                        <a href="#" class="btn btn-warning"> View more </a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </main>
                </div> <!-- container end.// -->
            </section>
            <!-- ================ SECTION PRODUCTS ================ -->
            <section class="padding-top">
                <div class="container">

                    <header class="section-heading">
                        <h3 class="section-title">New products</h3>
                    </header>

                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <figure class="card card-product-grid">
                                <a href="#" class="img-wrap">
                                    <span class="topbar"> <b class="badge bg-success"> Offer </b> </span>
                                    <img src="alistyle/images/items/12.jpg">
                                </a>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                                    <a href="#" class="title text-truncate">Blue T-shirt for Men</a>
                                    <small class="text-muted">Sizes: S, M, XL</small>
                                    <div class="price-wrap">
                                        <span class="price">$15.90</span> <del class="price-old">$20</del>
                                    </div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        </div> <!-- col end.// -->

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <figure class="card card-product-grid">
                                <a href="#" class="img-wrap">
                                    <img src="alistyle/images/items/11.jpg">
                                </a>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                                    <a href="#" class="title text-truncate">Warm Winter Jacket</a>
                                    <small class="text-muted">Sizes: S, M, XL</small>
                                    <div class="price">$72.90</div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        </div> <!-- col end.// -->

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <figure class="card card-product-grid">
                                <a href="#" class="img-wrap">
                                    <img src="alistyle/images/items/10.jpg">
                                </a>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                                    <a href="#" class="title text-truncate">Mens T-shirt Cotton Base</a>
                                    <small class="text-muted">Blue, White, Black</small>
                                    <div class="price">$29.98</div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        </div> <!-- col end.// -->

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <figure class="card card-product-grid">
                                <a href="#" class="img-wrap">
                                    <img src="alistyle/images/items/9.jpg">
                                </a>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                                    <a href="#" class="title text-truncate">Men's Denim Shorts Jeans</a>
                                    <small class="text-muted">Blue, White, Black</small>
                                    <div class="price">$75.50</div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        </div> <!-- col end.// -->

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <figure class="card card-product-grid">
                                <a href="#" class="img-wrap">
                                    <img src="alistyle/images/items/5.jpg">
                                </a>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                                    <a href="#" class="title text-truncate">Apple Watch Series 1 Sport Case 38mm Black</a>
                                    <small class="text-muted">5GB, 10GB, 24GB</small>
                                    <div class="price">$75.50</div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        </div> <!-- col end.// -->

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <figure class="card card-product-grid">
                                <a href="#" class="img-wrap">
                                    <img src="alistyle/images/items/6.jpg">
                                </a>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                                    <a href="#" class="title text-truncate">
                                        Gaming Headset 32db Black
                                        built in mic
                                    </a>
                                    <small class="text-muted">Black, Blue, Green</small>
                                    <div class="price">$99.50</div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        </div> <!-- col end.// -->

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <figure class="card card-product-grid">
                                <a href="#" class="img-wrap">
                                    <img src="alistyle/images/items/7.jpg">
                                </a>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                                    <a href="#" class="title text-truncate">
                                        Gaming Headset 32db Black
                                        built in mic
                                    </a>
                                    <small class="text-muted">Sizes: S, M, XL</small>
                                    <div class="price">$41.50</div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        </div> <!-- col end.// -->

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <figure class="card card-product-grid">
                                <a href="#" class="img-wrap">
                                    <img src="alistyle/images/items/8.jpg">
                                </a>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                                    <a href="#" class="title text-truncate">Slim fit T-shirt for men</a>
                                    <small class="text-muted">Sizes: S, M, XL</small>
                                    <div class="price">$75.50</div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        </div> <!-- col end.// -->
                        <div class="row d-flex justify-content-center text-center">
                            <a asp-controller="Home" asp-action="Courses" class="btn btn-light">
                                <i class="fa fa-reorder"></i>  <span class="ms-1 d-none d-sm-inline-block">See More</span>
                            </a>
                        </div>
                    </div> <!-- row end.// -->

                </div> <!-- container end.// -->
            </section>
            <!-- ================ SECTION PRODUCTS END.// ================ -->
        </main>
    </div>
</section>
