<ul class="menu-aside">
    <li class="menu-item active">
        <a class="menu-link" asp-action="Index">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
        </a>
    </li>
    <li class="menu-item has-submenu">
        <a class="menu-link" href="page-products-list.html">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Course</span>
        </a>
        <div class="submenu">
            <a asp-action="Create" asp-controller="Course" asp-area="Admin">Add New Course</a>
            <a asp-action="Index" asp-controller="Course" asp-area="Admin">List of Course</a>
        </div>
    </li>
    <li class="menu-item has-submenu">
        <a class="menu-link" href="page-form-product-1.html">
            <i class="icon material-icons md-add_box"></i>
            <span class="text">Category</span>
        </a>
        <div class="submenu">
            <a asp-action="Create" asp-controller="Category">Add New Category</a>
            <a asp-action="Index" asp-controller="Category">List of Category</a>
        </div>
    </li>
</ul>
<br>