<div class="modal fade" id="modal-default" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <p>Are you sure, you want to delete?</p>
                <form id="deleteForm" action="" method="post" asp-antiforgery="true">
                    <input type="hidden" id="deleteId" value="" name="id" />
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="deleteButton" class="btn btn-danger">Yes, Delete!</button>
      </div>
    </div>
  </div>
</div>