<section class="padding-y bg-light">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <article class="card card-body mb-3">
                    <div class="row gy-3 align-items-center">
                        <div class="col-md-6">
                            <a href="#" class="itemside  align-items-center">
                                <div class="aside">
                                    <img src="alistyle/images/items/8.jpg" height="72" width="72" class="img-thumbnail img-sm">
                                </div>
                                <figcaption class="info">
                                    <p class="title">Jeans bag for hiking blue color </p>
                                    <span class="text-muted">Wears</span>
                                </figcaption>
                            </a>
                        </div> <!-- col.// -->
                        <div class="col text-end">
                            <a href="#" class="btn btn-icon btn-light"> <i class="fa fa-trash"></i> </a>
                        </div>
                    </div> <!-- row.// -->
                </article> <!-- card .// -->

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="admintheme/images/logo.svg" class="img-thumbnail" />
                        <br />
                        <dl class="dlist-align">
                            <dd class="text-center text-success"><strong> “Learning is the only thing the mind never exhausts, never fears, and never regrets.” </strong> <br /><strong class="text-center text-danger">Leonardo da Vinci</strong></dd>
                        </dl>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div>
</section>