@model CourseDetailsModel
<section class="p-2 bg-light" style="min-height:90vh">
    <div class="container">
        <div class="card shadow mx-auto" style="max-width:1400px; margin-top:30px;">
            <div class="card">
                <div class="card-body">
                    <section class="padding-y bg-white shadow-sm">
                        <div class="container">

                            <div class="row">
                                <aside class="col-lg-6">
                                    <article class="gallery-wrap">
                                        <div class="img-big-wrap img-thumbnail">
                                            <iframe width="520" height="520" src=@Model.PreviewVideo>
                                            </iframe>
                                        </div> <!-- img-big-wrap.// -->
                                    </article> <!-- gallery-wrap .end// -->
                                </aside>

                                <main class="col-lg-6">
                                    <article class="ps-lg-3">
                                        <h4 class="title text-dark">@Model.Title</h4>
                                        <div class="rating-wrap my-3">
                                            <span class="label-rating text-muted"> <i class="fa fa-shopping-basket"></i> 154 enrolled </span>
                                        </div> <!-- rating-wrap.// -->

                                        <p>@Model.Description</p>

                                        <hr>

                                        <a class="btn  btn-primary" onclick="Enroll('@Model.Id')"> <i class="me-2 fa fa-shopping-basket"></i> Enroll </a>
                                    </article> <!-- product-info-aside .// -->
                                </main> <!-- col.// -->

                            </div> <!-- row.// -->

                        </div> <!-- container .//  -->
                    </section>
                </div> <!-- card-body end.// -->
            </div> <!-- card end.// -->
        </div>
        <br />
        <br />
    </div> <!-- container .//  -->
</section>
@section Scripts{
    <partial name="_EnrollScriptPartial" />
}
